

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.75)!important;
}

.ReactModal__Content {
  position: absolute!important;
  top: 30%!important;
  left: 50%!important;
  right: auto!important;
  bottom: auto!important;
  margin-right: -50%!important;
  transform: translate(-50%, -50%)!important;
  padding: 50px!important;
  background: white!important;
  border-radius: 4px!important;
  outline: none!important;
  max-width: 600px!important;
  width: 100%!important;
}